
:root{
    --xPointer:100px;
    --yPointer:100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: hsl(224, 32%, 12%);
  background-image: conic-gradient(
    from 0deg at 50% 50%,
    rgb(111, 111, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 255),
    rgb(105, 105, 255)
  );
  background-blend-mode: multiply;
  height: 100vh;
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  place-items: center;
  overflow: hidden;
}

.heading-1{
    color:white;
    margin-top: 100px;
    display: block;
}
.heading-2{
    color:white;
    margin-bottom: 100px;
    display: none;
}

#div {
  background-color: rgb(24, 24, 24);
  color: white;
  padding: 2rem;
  border-radius: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  transform-style: preserve-3d;
  transform: perspective(5000px) rotateY(var(--rotateX)) rotateX(var(--rotateY));
  margin-bottom: 100px;
}
#div > h1 {
  text-shadow: 0 0 0.3rem rgb(255, 255, 255);
}
#div::after {
  content: "";
  position: absolute;
  background: rgb(88, 178, 236);
  background: linear-gradient(
    90deg,
    rgba(88, 178, 236, 1) 0%,
    rgba(208, 0, 206, 1) 27%,
    rgba(255, 0, 0, 1) 64%,
    rgba(0, 159, 255, 1) 100%
  );
  inset: 0;
  border-radius: inherit;
  z-index: -3;
  transform: translateZ(-40px) scale(1.1);
}
#div::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  inset: 0;
  border-radius: inherit;
  z-index: -2;
  transform: translateZ(-35px) scale(1.05);
}

.pointer {
  width: 20px;
  height: 20px;
  padding: 1rem;
  position: absolute;
  top:100px;
  left:50%;
  border-radius: 50%;
  z-index: 100;
  background: white;
}

.pointer::after {
  content: "";
  position: absolute;
  background: rgb(88, 178, 236);
  background: linear-gradient(
    90deg,
    rgba(88, 178, 236, 1) 0%,
    rgba(208, 0, 206, 1) 27%,
    rgba(255, 0, 0, 1) 64%,
    rgba(0, 159, 255, 1) 100%
  );
  inset: 0;
  border-radius: inherit;
  z-index: -3;
  transform: translateZ(-40px) scale(1.5);
}

@media screen and (min-width: 700px) {
    .heading-1{
        display: none;
    }
    .heading-2{
        display: block;
    }
  .pointer {
    display: none;
  }
  div {
    padding: 4rem;
    font-size: 2rem;
  }
  div::after {
    transform: translateZ(-20px) scale(1.1);
  }
  div::before {
    transform: translateZ(-15px) scale(1.05);
  }
}
